@import url('https://fonts.googleapis.com/css?family=Oswald:400|Raleway:500');


.oswald {
  font-family: Oswald;
}

.raleway {
  font-family: Raleway;
  font-size: 1.5em;
}

.header {
  grid-area: h;
  background-color: #605b56;
  font-size: 2.25em;
  text-align: right;
  padding: 10px
}

.links {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #f1f7ed;
}

.links-bottom {
  margin-top: 80%;
}

.zRow > img {
  max-width: 95%;
  max-height: 95%;
  margin: 10px;
}



.xImg > img {
  max-width: 95%;
  max-height: 95%;
  margin: 10px;
}

p {
  font-size: 1em;
  text-decoration: none;
}


.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}

.zRow {
  height: 175px;
  width: 175px;
  display: flex;
  align-content: center;
}

.yrow {
  font-size: .65em;
}

.xRow {
  height: 175px;
  width: auto;
  display: flex;
  font-size: .6em;
}

.xImg {
  width: 116px;
}

.xCol {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}



button[value=false]{
  display: none;
}

a[value=false]{
  display: none;
}

/* input[type=checkbox][value=false] + label{
  display: none;
}
 */



