@import url('https://fonts.googleapis.com/css?family=Oswald:400|Raleway:500');

.oswald {
  font-family: Oswald;
}

.raleway {
  font-family: Raleway;
  font-size: 1.5em;
}

.App > p {
  font-family: Raleway;
  color: purple;
}

.container {
  height: 100vh;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 200px repeat(11, 1fr);
  grid-template-rows: .75fr 2.25fr 2.25fr 1.5fr;
  grid-template-areas: 
    "n h h h h h h h h h h h"
    "n i i i i i i i s s s s"
    "n i i i i i i i p p p p"
    "n c c c c c c c m m m m";
}

.child-container {
  height: 100vh;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 200px repeat(6, auto);
  grid-template-rows: .75fr .75fr 6.25fr;
  grid-template-areas: 
    "n h h h h h h"
    "n u v w x y z"
    "n a b c d e f";
}

.header {
  grid-area: h;
  background-color: #f1f7ed;
  font-size: 2.25em;
  border: 1px black solid;
  text-align: right;
  padding: 10px
}

.navbar {
  grid-area: n;
  background-color: #382268;
  font-size: 1.75em;
  border: 1px black solid;
  color: #f1f7ed;
  padding: 10px;
  
}

.image {
  grid-area: i;
  background-color: #f1f7ed;
  font-size: 2em;
  border: 1px black solid;
  display: flex;
  justify-content: space-around;
}

.social {
  grid-area: m;
  background-color: #f1f7ed;
  font-size: 2em;
  border: 1px black solid;
}

.schedule {
  grid-area: s;
  background-color: #f1f7ed;
  font-size: 2em;
  border: 1px black solid;
}

.player {
  grid-area: p;
  background-color: #f1f7ed;
  font-size: 2em;
  border: 1px black solid;
}

.col-header {
  font-weight: bold;
  text-align: center;
  text-decoration-line: underline;
}

.coach {
  grid-area: c;
  background-color: #f1f7ed;
  font-size: 2em;
  border: 1px black solid;
}

.a {
  grid-area: a;
  background-color: #f1f7ed;
  border: 1px black solid;
}

.b{
  grid-area: b;
  background-color: #f1f7ed;
  border: 1px black solid;
}

.c {
  grid-area: c;
  background-color: #f1f7ed;
  border: 1px black solid;
}

.d {
  grid-area: d;
  background-color: #f1f7ed;
  border: 1px black solid;
}

.e {
  grid-area: e;
  background-color: #f1f7ed;
  border: 1px black solid;
}

.f {
  grid-area: f;
  background-color: #f1f7ed;
  border: 1px black solid;
}

.u {
  grid-area: u;
  background-color: #f1f7ed;
  font-size: 2em;
  border: 1px black solid;
}

.v {
  grid-area: v;
  background-color: #f1f7ed;
  font-size: 2em;
  border: 1px black solid;
}

.w {
  grid-area: w;
  background-color: #f1f7ed;
  font-size: 2em;
  border: 1px black solid;
}

.x {
  grid-area: x;
  background-color: #f1f7ed;
  font-size: 2em;
  border: 1px black solid;
}

.y {
  grid-area: y;
  background-color: #f1f7ed;
  font-size: 2em;
  border: 1px black solid;
}

.z {
  grid-area: z;
  background-color: #f1f7ed;
  font-size: 2em;
  border: 1px black solid;
}

.links {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #f1f7ed;
}

.links-bottom {
  margin-top: 80%;
}

img {
  max-width: 100%;
  max-height: 100%;
  margin: 10px;
}

p {
  font-size: 1em;
  text-decoration: none;
}

.button {
  height: 100px;
  width: 300px;
  color: purple;
}

.child1 {
  display: flex;
  justify-content: space-around;
  align-content: left;
  border: 2px black solid;
  height: 300px;
  width: 333.2px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}

