.gc-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr;
    grid-gap: 5px;
    grid-template-areas:
        "n  h   h   h"
        "n  tpr tpr tpr"
        "n  mdr mdr mdr"
        "n  btr btr btr "
        "n  b   b   b";
}

.gameCard {
    justify-items: center;
}

.edit-top-row {
    grid-area: tpr;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "tl tm  tr";
    justify-items: center;
}

.edit-middle-row {
    grid-area: mdr;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "ml mm  mr";
    justify-items: center;
}

.edit-bottom-row {
    grid-area: btr;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "bl bm  br";
    justify-items: center;
}

.etl {
    grid-area: tl;
    width: 300px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.etm {
    grid-area: tm;
    width: 400px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.etr {
    grid-area: tr;
    width: 300px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.eml {
    grid-area: ml;
    width: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.edit-middle-row > img {
    height: 250px;
}

.emm {
    grid-area: mm;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    font-weight: bold;
}

.emr {
    grid-area: mr;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.ebl {
    grid-area: bl;
    width: 300px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    font-size: 4em;
}

.ebm {
    grid-area: bm;
    width: 300px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.ebr {
    grid-area: br;
    width: 300px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    font-size: 4em;
}

.button-wrapper {
    grid-area: b
}

.buttons.save {
    background-color: #3c6e71;
    border-radius: 3px;
    /*box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1) 0 1px 2px 0 rgba(0,0,0,0.2);*/
    color: #f1f7ed;
    margin: 10px;
    font-size: 1.1em;
    font-family: raleway;
}

.buttons.cancel {
    background-color: #edae49;
    border-radius: 3px;
    /*box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1) 0 1px 2px 0 rgba(0,0,0,0.2);*/
    color: #f1f7ed;
    margin: 10px;
    font-size: 1.1em;
    font-family: raleway;
}


@media only screen and (max-width: 768px) {
    .gc-container {
       display: flex;
       flex-direction: column;
    }
    
    .gameCard {
       display: flex;
       flex-direction: column; 
       align-items: center;   
    } 
}