@media only screen and (min-width: 769px) {
.container {
    height: 100vh;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 200px repeat(11, 1fr);
    
    grid-template-areas: 
      "n h h h h h h h h h h h"
      "n i i i i i i i s s s s"
      "n i i i i i i i p p p p"
      "n c c c c c c c m m m m";
  }
  .image {
    grid-area: i;
    font-size: 2em;
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-bottom: 5px #605b56 solid;
  }
  
  .social {
    grid-area: m;
    width: auto;
    height: 100%;
    font-size: 2em;
    padding: 10px;
  }
  
  .schedule {
    grid-area: s;
    height: 100%;
    width: auto;
    font-size: 2em;
    padding: 10px;
    border-bottom: 5px #605b56 solid;
  }
  
  .player {
    grid-area: p;
    height: 100%;
    width: auto;
    font-size: 2em;
    padding: 10px;
    border-bottom: 5px #605b56 solid;
  }
  
  
  .coach {
    grid-area: c;
    height: 100%;
    width: auto;
    font-size: 2em;
    padding: 10px;
  }

  .image > img {
    height: 95%;
    width: 95%;
    margin-top: 10px;
    padding-bottom: 20px;
  }
  }

  @media only screen and (max-width: 768px) {
    .container {
       height: 100vh;
       display: grid;
       
       grid-template-areas:
        'h'
        'n' 
        'i'
        's'
        'p'
        'm'
        'c';    
    }

    .navbar {
        padding-bottom: 40px;
    }
    
    .image > img {
      height: 95%;
      width: 95%;
      margin-top: 40px;
      padding-bottom: 20px;
    }

    
 }