@media only screen and (min-width: 769px) {
.container {
    height: 100vh;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 200px repeat(11, 1fr);
    grid-template-rows: .75fr 2.25fr 2.25fr 1.5fr;
    grid-template-areas: 
      "n h h h h h h h h h h h"
      "n i i i i i i i s s s s"
      "n i i i i i i i p p p p"
      "n c c c c c c c m m m m";
  }
  .image {
    grid-area: i;
    font-size: 2em;
    display: flex;
    justify-content: center;
    border-bottom: 5px #605b56 solid;
  }
  
  .social {
    grid-area: m;
    font-size: 2em;
    padding: 10px;
  }
  
  .schedule {
    grid-area: s;
    font-size: 2em;
    padding: 10px;
    border-bottom: 5px #605b56 solid;
  }
  
  .player {
    grid-area: p;
    font-size: 2em;
    padding: 10px;
    border-bottom: 5px #605b56 solid;
  }
  
  
  .coach {
    grid-area: c;
    font-size: 2em;
    padding: 10px;
  }
}

  @media only screen and (max-width: 768px) {
    .container {
       height: 100vh;
       display: grid;
       grid-template-areas: 
        'h'
        'n'
        'i'
        's'
        'p'
        'c'
        'm'
       
    }

    .navbar {
        padding-bottom: 40px;
    }
 }