@media only screen and (min-width: 769px) {
.navbar {
    display: flex;
    flex-direction: column;
    grid-area: n;
    background-color: #382268;
    font-size: 1.75em;
    color: #f1f7ed;
    padding: 15px;
}

.Navbar_Items {
    display: flex;
    flex-direction: column;
    padding-right: 8px;
}

.Navbar_Items-Bottom {
    margin-top: 300px;
    
}

.Navbar_Link-toggle {
    display: none;
}

.menu {
    display: none;
}

}

@media only screen and (max-width: 768px) {
   .navbar {
       display: flex;
       flex-direction: column;
       background-color: #382268;
       font-size: 1.5em;
       color: #f1f7ed;
       padding: 15px;
       height: 55%;
   }

   .Navbar_Items {
       display: none;
   }

   .Navbar_Items-Bottom {
       margin-left: 0;
       margin-top: 100px;
   }

   .menu {
       display: initial;
   }

   .Navbar_ToggleShow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
    .Navbar_Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
   } 
}