.gameCardContainer {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    height: 100%;
    width: 100%;
}

.header1 {
    grid-column: col-start 2/ span 12;
    grid-row: 1;
    margin-left: auto;
}

.navbar1 {
    grid-column: col-start;
    grid-row: 1 / 3;
    background-color: purple;
}

.gameCard {
    grid-column: col-start 2 / span 10;
    grid-row: 2;
}

.row1 {
    display: flex;
    justify-content: space-around;
    height: 1fr;
}

.row2 {
    display: flex;
    justify-content: space-around;
    height: 284px;
}

.row3 {
    display: flex;
    justify-content: space-around;
    height: 1fr;
}

.1 {
    grid-column: col-start 2 / span 4;
    
}

.2 {
    grid-column: col-start 6 / span 3;
}

.3 {
    grid-column: col-start 9 / span 4;
}

/* img {
    height: 284px;
    width: 284px;
} */
